#slider {
    width: 388px; /* important to be same as image width */
    height: 245px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
    border: 1px solid #bebebe;
    margin: 1px 0 10px;
}
#sliderContent {
    width: 388px; /* important to be same as image width or wider */
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    width: 374px;
    padding: 5px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
    left: 2px;
}
#slider h2 a, #slider h2 a:visited {
    color: #699e3f;
    text-transform:uppercase;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
#slider img {
  padding: 2px;
  margin: 0;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 6px;
    left: 0px;
}
.bottom p {
  padding: 7px 0 0;
}

